<div class="container">
  <h1>Your next adventure</h1>
  <% @bookings.each do |booking| %>
  <div class="card-booking">

    <div class="card-booking-infos">
      <h2><%= booking.listing.name %></h2>
      <p>From: <%= booking.start_date %> To: <%= booking.end_date %></p>
    </div>
  </div>
  <% end %>
</div>
